/* MAIN NAV BELT */

#nav-belt {
  display: flex;
  padding: 0 5px;
  align-items: flex-end;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--nav-belt-color);
  color: #fff;
  height: 70px;
  font-family: "ember";
  box-sizing: border-box;
  width: 100%;
}

#nav-belt h6 {
  padding: 0;
  margin: 0;
}

.nav-left {
  display: flex;
  align-items: flex-end;
  align-self: center;
  padding: 0;
  margin: 0;
}

#nav-belt .nav-fill {
  flex: 3;
}

.nav-fill {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0;
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: flex-end;
  align-self: center;
  padding: 0;
  margin: 0;
  height: 50%;
  box-sizing: border-box;
}

.main-belt-text {
  font-family: "ember";
  font-weight: 700;
  font-size: 16.5px;
  padding: 0;
  margin: 0;
  color: rgb(226, 226, 226);
}

.nav-belt-right-secondary-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  height: 16px;
  color: rgb(233, 232, 232);
}
.nav__belt--box {
  height: 100%;
  cursor: pointer;
}
.nav__belt--box:hover {
  outline: 2px solid rgb(236, 236, 236);
}

/* nav belt logo */
.nav__belt--logo {
  padding: 0 10px;
}

/* nav belt location */
.nav__belt--location-specifier {
  padding: 10px;
  align-self: center;
}
.nav__belt--location-specifier h6 {
  font-weight: normal;
  color: rgb(228, 228, 228);
}

/* nav belt language selector */
.nav__belt--language-selector {
  padding: 10px 15px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav__belt--language-selector:hover .language__selector--dropdown-list {
  display: block;
}

.language__selector--dropdown-list {
  display: none;
  font-family: "ember";
  font-weight: 400;
  color: #333;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 220px;
  border: 1px solid lightgray;
  position: absolute;
  left: 0;
}
.language__selector--dropdown-list li {
  list-style: none;
}
.language__selector--dropdown-list li label:hover {
  color: #ffac2f;
  border-bottom: 1px solid #f1a946;
}
.language__selector--dropdown-list li label {
  cursor: pointer;
}

.language__dropdown--selected-language {
  padding: 0 0 7px 0;
  border-bottom: 1px solid lightgray;
  line-height: 3;
}
.language__dropdown--options {
  padding: 7px 0;
  line-height: 2;
  border-bottom: 1px solid lightgray;
}
.language__dropdown--footer {
  padding: 15px 5px;
  line-height: 1.5;
}

/* nav belt sign in */
.nav__belt--sign-in {
  padding: 10px 15px;
  align-self: center;
  position: relative;
}
.nav__belt--sign-in:hover #account__dropdown {
  display: grid;
}

/* ACCOUNT DROPDOWN MENU */
#account__dropdown {
  position: absolute;
  right: -10em;
  top: 3.5em;
  display: none;
  color: black;
  background-color: rgb(253, 253, 253);
  font-family: "ember";
  grid-template-columns: repeat(2, 1fr);
  padding: 2em 2em;
  column-gap: 1em;
  margin: 0;
  width: 550px;
}
#account__dropdown div h3 {
  padding: 20px 0 15px 0;
  margin: 0;
}

.account__dropdown-sign-in-button {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.account__dropdown-sign-in-button button {
  cursor: pointer;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  background: linear-gradient(
    to bottom,
    rgb(235, 219, 177),
    var(--amazon-orange)
  );
  font-size: 15px;
}
.account__dropdown-sign-in-button button:hover {
  background: linear-gradient(
    to bottom,
    rgb(218, 204, 169),
    var(--amazon-orange-darker)
  );
}
.account__dropdown-sign-in-button p {
  font-size: small;
}
.account__dropdown--lists {
  width: 225px;
  padding: 7px 15px;
  border-right: 1px solid lightgray;
}
.account__dropdown--lists ul {
  list-style: none;
  padding: 0;
  line-height: 1.7;
}
.account__dropdown--your-account {
  width: 225px;
}
.account__dropdown--your-account ul {
  list-style: none;
  padding: 0;
  line-height: 1.7;
}

/* nav belt return and orders */
.nav__belt--return-orders {
  padding: 10px 15px;
  align-self: center;
}
/* nav belt cart */
.nav__belt--cart {
  padding: 5px 15px;
  align-self: center;
}
.nav__belt--cart i {
  font-size: xx-large;
}

/* Searchbar */

.searchbar-categorization {
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(70, 70, 70);
  display: block;
  height: 45px;
  width: 45px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 7px;
}
.searchbar-categorization:hover {
  background-color: rgb(195, 193, 193);
}

#searchbar_landing_page {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 10px 15px;
  width: 100%;
}

#searchbar_landing_page input {
  width: 100%;
  height: 40px;
}
#searchbar_landing_page input:focus {
  outline-color: #ffac2f;
}

#searchbar_landing_page input[type="text"] {
  font-size: large;
  padding-left: 10px;
}

.searchbar-search-icon {
  cursor: pointer;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--amazon-orange);
  max-width: 45px;
  width: 100%;
  border-end-end-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  border: none;
}
.searchbar-search-icon:hover {
  background-color: var(--amazon-orange-darker);
}

.searchbar-search-icon i {
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.nav__belt--link {
  color: #fff;
  text-decoration: none;
}

/* --------------NAV SUBLAYER-------------- */
#nav_sublayer {
  display: flex;
  align-items: center;
  background-color: var(--nav-sublayer-color);
  color: #fff;
  font-family: "ember";
  height: 50px;
}

#nav_sublayer .nav-left {
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

#nav_sublayer .nav-fill ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 1450px;
}
#nav_sublayer .nav__shop--container {
  height: 100%;
}
#nav_sublayer .nav-fill ul li {
  font-weight: normal;
  font-size: 17px;
  color: rgb(218, 214, 214);
  padding: 3px 7px;
  min-width: fit-content;
  margin-right: 10px;
}
#nav_sublayer .nav-fill ul li:hover {
  outline: 2px solid white;
}

#nav_sublayer .nav-right {
  justify-content: center;
  max-width: 250px;
  height: 40px;
  align-items: center;
  position: fixed;
  right: 3em;
}
.nav__sublayer--promo p {
  font-weight: bold;
  width: 250px;
  font-size: 18px;
}

/* amazon prime dropdown */
#nav_sublayer .nav-fill ul li:hover .sublayer__prime--dropdown {
  display: block;
}

.sublayer__prime--dropdown {
  display: none;
  min-width: fit-content;
  padding: 1em;
  position: absolute;
  top: 6.7em;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}
.sublayer__prime--dropdown p {
  width: 217px;
}

/* at 1000pxs set overflow to scroll */
/*  NAVBAR STYLING */
@media only screen and (max-width: 1250px) and (min-height: 900px) {
  body {
    overflow-x: scroll;
    justify-content: start;
    width: 122%;
  }
  #nav-belt .nav-fill {
    max-width: 450px;
    min-width: 449px;
  }
  #nav-belt .nav-left {
    max-width: 330px;
    min-width: 329px;
  }
  #nav-belt .nav-right {
    max-width: 430px;
    min-width: 429px;
  }

  #nav_sublayer .nav-fill {
    max-width: 950px;
  }
  #nav_sublayer .nav-left {
    max-width: 80px;
    min-width: 79px;
  }
  #nav_sublayer .nav-right {
    max-width: 250px;
    min-width: 249px;
  }
  #nav_sublayer .nav-fill ul {
    max-width: 750px;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1000px) and (min-height: 900px) {
  body {
    width: 144%;
  }
}

@media only screen and (max-width: 850px) and (min-height: 900px) {
  body {
    width: 187%;
  }
}

@media only screen and (max-width: 650px) and (min-height: 900px) {
  body {
    width: 210%;
  }
}

@media only screen and (max-width: 580px) and (min-height: 900px) {
  body {
    width: 250%;
  }
}

/* remove items from shop categories as screen gets smaller */

@media only screen and (max-width: 1890px) and (min-height: 900px) {
  #nav_sublayer .nav-fill ul li:last-child {
    display: none;
  }
  #nav_sublayer .nav-fill ul {
    width: 1400px;
  }
}

@media only screen and (max-width: 1845px) and (min-height: 900px) {
  #nav_sublayer .nav-fill ul li:nth-last-child(2) {
    display: none;
  }
  #nav_sublayer .nav-fill ul {
    width: 1350px;
  }
}
@media only screen and (max-width: 1755px) and (min-height: 900px) {
  #nav_sublayer .nav-fill ul li:nth-last-child(3) {
    display: none;
  }
  #nav_sublayer .nav-fill ul {
    width: 1300px;
  }
}
@media only screen and (max-width: 1615px) and (min-height: 900px) {
  #nav_sublayer .nav-fill ul li:nth-last-child(4) {
    display: none;
  }
  #nav_sublayer .nav-fill ul {
    width: 1250px;
  }
}
@media only screen and (max-width: 1515px) and (min-height: 900px) {
  #nav_sublayer .nav-fill ul li:nth-last-child(5) {
    display: none;
  }
  #nav_sublayer .nav-fill ul {
    width: 1200px;
  }
}
@media only screen and (max-width: 1385px) and (min-height: 900px) {
  #nav_sublayer .nav-fill ul li:nth-last-child(6) {
    display: none;
  }
  #nav_sublayer .nav-fill ul {
    width: fit-content;
    justify-content: space-around;
  }
  /* #nav_sublayer .nav-fill ul li {
    margin-right: 13px;
  } */
}
