@font-face {
  font-family: "ember";
  src: url(/fonts/ember/Amazon-Ember-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "brookerly";
  src: url("/fonts/brookerly/Bookerly-Regular.ttf");
}

:root {
  --nav-belt-color: #131921;
  --nav-sublayer-color: #232f3e;
  --amazon-orange: #ee960f;
  --amazon-orange-darker: #f6a62d;
  --carousel-fade: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.001),
    white
  );
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(231, 231, 231, 0.13);
}

.link--blue-no-underline {
  color: #3366bb;
  text-decoration: none;
}
.link--blue-no-underline:hover {
  border-bottom: 1px solid lightsalmon;
}

.link__black--golden-hover {
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

.link__black--golden-hover:hover {
  color: var(--amazon-orange);
  text-decoration: underline;
  border-color: var(--amazon-orange);
}

.link--white {
  color: #fff;
  text-decoration: none;
}

.amazon__orange--btn {
  width: 370px;
  height: 40px;
  border: 1px solid lightgray;
  background: linear-gradient(to bottom, #eed5ad, #ee991a);
}
.amazon__orange--btn:hover {
  background: linear-gradient(to bottom, #ffcc7b, #eba235);
}
